@import "rsuite/styles/index.less";
@import "./color.scheme.less";

@enable-dark-mode: true;
@enable-high-contrast: false;
@primary-color2: #000;
@enable-ripple-effect: false;

.rs-theme-dark {
  --rs-body: #292929;
  --rs-steps-border-state-finish: #ffffff;
  --rs-steps-state-finish: #ffffff;
  --rs-steps-state-process: #bfbfbf;
  --dashboard-content-background-color: #2f2f2f;
  --dashboard-navbar-border-color: rgba(255, 255, 255, 0.2);
  --dashboard-subcontent-background-color: var(--rs-gray-800);
  --text-info-color: var(--rs-gray-200);
  --rs-tooltip-bg: var(--rs-gray-900);
  --scrollbar-track-color: rgba(255, 255, 255, 0.1);
  --description-toolbar-color: var(--rs-gray-800);
  --node-error-background-color: rgb(190, 99, 118);
  --node-error-border: rgb(239, 53, 90);
  --node-debug-background-color: rgb(255, 204, 204);
  --node-request-background-color: rgb(163, 219, 216);
  --node-middleware-background-color: rgb(206, 217, 255);
  --node-response-background-color: rgb(176, 242, 214);
  --node-unknown-background-color: rgb(241, 240, 200);
}

.rs-theme-light {
  --rs-body: #fefef9;
  --rs-steps-border-state-finish: #202020;
  --rs-steps-state-finish: #202020;
  --rs-steps-state-process: #292929;
  --dashboard-content-background-color: #f3f3f3;
  --dashboard-navbar-border-color: rgba(0, 0, 0, 0.2);
  --dashboard-subcontent-background-color: var(--rs-gray-50);
  --text-info-color: var(--rs-gray-800);
  --rs-tooltip-bg: var(--rs-gray-500);
  --scrollbar-track-color: rgba(0, 0, 0, 0.1);
  --description-toolbar-color: var(--rs-gray-50);
  --node-error-background-color: rgb(216, 139, 155);
  --node-error-border: rgb(194, 121, 136);
  --node-debug-background-color: rgb(255, 204, 204);
  --node-request-background-color: rgb(163, 219, 216);
  --node-middleware-background-color: rgb(206, 217, 255);
  --node-response-background-color: rgb(176, 242, 214);
  --node-unknown-background-color: rgb(241, 240, 200);
}

.rs-toast-container {
  z-index: 2000;
}
