@import "rsuite/styles/index.less";
@import "./color.scheme.less";

@enable-dark-mode: true;
@enable-high-contrast: false;
@primary-color2: #000;
@enable-ripple-effect: false;

.rs-theme-dark {
  --rs-body: #292929;
  --rs-steps-border-state-finish: #ffffff;
  --rs-steps-state-finish: #ffffff;
  --rs-steps-state-process: #bfbfbf;
  --dashboard-content-background-color: #2f2f2f;
  --dashboard-navbar-border-color: rgba(255, 255, 255, 0.2);
  --dashboard-subcontent-background-color: var(--rs-gray-800);
  --text-info-color: var(--rs-gray-200);
  --rs-tooltip-bg: var(--rs-gray-900);
  --scrollbar-track-color: rgba(255, 255, 255, 0.1);
  --description-toolbar-color: var(--rs-gray-800);
  --node-error-background-color: rgb(190, 99, 118);
  --node-error-border: rgb(239, 53, 90);
  --node-debug-background-color: rgb(237, 106, 90);
  --node-request-background-color: #5fb49c;
  --node-middleware-background-color: #a491d3;
  --node-response-background-color: #e58f65;
  --node-event-listener-background-color: #709fbf;
  --node-event-emitter-background-color: #6c5ccb;
  --node-configuration-background-color: #146195;
  --node-unknown-background-color: rgb(255, 166, 48);
  --node-text-color: var(--rs-text-primary);
}

.rs-theme-light {
  --rs-body: #fefef9;
  --rs-steps-border-state-finish: #202020;
  --rs-steps-state-finish: #202020;
  --rs-steps-state-process: #292929;
  --dashboard-content-background-color: #f3f3f3;
  --dashboard-navbar-border-color: rgba(0, 0, 0, 0.2);
  --dashboard-subcontent-background-color: var(--rs-gray-50);
  --text-info-color: var(--rs-gray-800);
  --rs-tooltip-bg: var(--rs-gray-500);
  --scrollbar-track-color: rgba(0, 0, 0, 0.1);
  --description-toolbar-color: var(--rs-gray-50);
  --node-error-background-color: rgb(216, 139, 155);
  --node-error-border: rgb(194, 121, 136);
  --node-debug-background-color: rgb(249, 206, 200);
  --node-request-background-color: rgb(172, 215, 205);
  --node-middleware-background-color: rgb(219, 211, 238);
  --node-response-background-color: rgb(240, 193, 168);
  --node-event-listener-background-color: rgb(146, 204, 221);
  --node-event-emitter-background-color: rgb(198, 189, 255);
  --node-configuration-background-color: #95d4ff;
  --node-unknown-background-color: rgb(255, 166, 48);
  --node-text-color: var(--rs-text-primary);
}

.rs-toast-container {
  z-index: 2000;
}
