@import "rsuite/styles/index.less";
@import "./color.scheme.less";

@enable-dark-mode: true;
@enable-high-contrast: false;
@primary-color2: #000;
@enable-ripple-effect: false;

.rs-theme-dark {
  --rs-body: #292929;
  --rs-steps-border-state-finish: #ffffff;
  --rs-steps-state-finish: #ffffff;
  --rs-steps-state-process: #bfbfbf;
  --dashboard-content-background-color: #2f2f2f;
  --dashboard-navbar-border-color: rgba(255, 255, 255, 0.2);
  --dashboard-subcontent-background-color: var(--rs-gray-800);
  --text-info-color: var(--rs-gray-200);
  --rs-tooltip-bg: var(--rs-gray-900);
  --scrollbar-track-color: rgba(255, 255, 255, 0.1);
  --description-toolbar-color: var(--rs-gray-800);
}

.rs-theme-light {
  --rs-body: #fefef9;
  --rs-steps-border-state-finish: #202020;
  --rs-steps-state-finish: #202020;
  --rs-steps-state-process: #292929;
  --dashboard-content-background-color: #f3f3f3;
  --dashboard-navbar-border-color: rgba(0, 0, 0, 0.2);
  --dashboard-subcontent-background-color: var(--rs-gray-50);
  --text-info-color: var(--rs-gray-800);
  --rs-tooltip-bg: var(--rs-gray-500);
  --scrollbar-track-color: rgba(0, 0, 0, 0.1);
  --description-toolbar-color: var(--rs-gray-50);
}

.rs-toast-container {
  z-index: 2000;
}
